body{
  margin: 0;
  padding: 0;
}
/* Navbar */
header{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.navigation ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.navigation a{
  text-decoration: none;
  color: black;
}

.name{
  display: flex;
  gap: 10px;
}

/* Navbar End */

/* Introduction */
.introduction{
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

/* Introduction End */

/* Project */
  .projects{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    border: 1px solid black;
    width: 250px;
  }

  .projects ul{
    list-style: none;
    padding: 0;
  }
/* Project End */

/* Contact Page */
.sendButton{
  margin-top: 10px;
  display: block;
}